

/* ---------- https://lucide.dev */

.callout[data-callout="youtube"] {
    --callout-color: 255, 0, 0;
    --callout-icon: lucide-youtube;
}

.callout[data-callout="wiki-todo"] {
    --callout-color: 255, 0, 0;
    --callout-icon: lucide-file-warning;
}
